/* eric meyer reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* static format */

html {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #333;
  font: 13px/1.5 'Helvetica Neue', helvetica, arial, sans-serif;
  text-align: center;
}

#welcome {
  background-color: #fff;
  background-color: rgba( 255, 255, 255, .8);
  -moz-box-shadow: 3px 3px 35px 0 rgba( 0, 0, 0, .05);
  box-shadow: 3px 3px 35px 0 rgba( 0, 0, 0, .05);
  margin: 101px auto 20px auto;
  padding: 38px 70px 32px 70px;
  text-align: left;
  width: 320px;
}

h1 {
  background: transparent url('../img/logo.png') no-repeat top left;
  height: 18px;
  margin: 0 0 10px 79px;
  text-indent: -9999px;
  width: 160px;
}

#summary {
  border-bottom: 1px solid rgba( 204, 204, 204, .8);
  border-top: 1px solid rgba( 204, 204, 204, .8);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;
  padding: 13px 10px 10px 10px;
}

a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #666;
}

#footer {
  color: #999;
  font-size: 11px;
  padding: 0 10px;
}